@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
/* in-browser settings: layout: normal, theme: dark */



/* 2020-04-07: added for v75.0 */

:root[lwt-popup-brighttext] {
  --urlbar-popup-action-color: #eee !important;
  --urlbar-popup-url-color: #eee !important;
}

#urlbar > * {
  border-color: transparent !important;
  background: #454545 !important;
  box-shadow: none !important;
}

/* loading screen */
#tabbrowser-tabpanels{
  background-color: var(--uc-light-bkgnd-color, #1d1d1d) !important;
}

/* BEGIN: from https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/compact_urlbar_megabar.css . fixes urlbar*/
#urlbar.megabar[breakout]{
  margin-inline-start: 0px !important;
  width: 100% !important;
  left: 0 !important;
  top: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important;
}
#urlbar.megabar[breakout]:not([open]){ bottom: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2) !important; }
.urlbarView.megabar{ margin-inline: 0 !important; width: auto !important; }
.urlbarView-row{ padding-inline: 4px !important; }
#urlbar-background{ animation: none !important; }
/* below: hardcoded 30px, cuz of bugs */
#urlbar-input-container{ padding: 0 !important; height: 30px !important; }
/* END */

/* 2020-04-07: added before v75.0 */

/* disable expanding pinned tabs on hover */
tabbrowser-tabs .tabbrowser-tab:not([selected])[pinned], .tabbrowser-tab[fadein][pinned]:not([style*="max-width"]) {
  min-width: 40px !important;
  max-width: 40px !important;
}

/* make that atrocious default scrollbar at least somewhat better */
scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #6b6b6b #1f1f1f;
}

/* topbar right: remove space between >> button and hamburger menu */
#nav-bar-overflow-button {
  margin-right: -10px !important;
}

/* set fira code as main font */
* {
  font-family: "Fira Code" !important;
}

/* remove black bar below url bar */
#navigator-toolbox {
  border-bottom: none !important;
}

/* BEGIN: in url bar (left) */

/* remove tracking protection icon in url bar (left) */
#tracking-protection-icon-container {
  display: none;
}

/* hide drm icon */
#notification-popup-box {
  display: none;
}

/*hide the no autoplay allowed icon */
#blocked-permissions-container {
  display: none;
}

/* hide home icon */
#home-button {
  display: none;
}

/* Description: only show lock left of url */
#permissions-granted-icon, .sharing-icon {
  display: none;
}

/* hide https lock stuff (EV certs, etc). source: https://github.com/Timvde/UserChrome-Tweaks/blob/master/navbar/hide-ssl-lock.css */

#urlbar[pageproxystate="valid"] > #identity-box.verifiedDomain > #connection-icon,
#urlbar[pageproxystate="valid"] > #identity-box.verifiedIdentity > #connection-icon,
#urlbar[pageproxystate="valid"] > #identity-box.mixedActiveBlocked > #connection-icon {
  display: none !important;
}
/* END */


/* tabview bg */
scrollbox:nth-child(4) {
  background: #0d0d0d;
}

/* dark link previews (bottom left) */
/* source: https://www.reddit.com/r/FirefoxCSS/comments/dtyw6x/how_do_i_make_this_link_preview_thingy_dark_its/ */
#statuspanel-label {
    background-color: #1d1d1d !important;
    border: 1px none #1d1d1d !important;
    border-top-style: solid !important;
    color: #eee !important;
}

/*
 * Hides the separator between address bar PageAction extensions and internal icons (Containers, Reader, etc.)
 * https://github.com/Timvde/UserChrome-Tweaks/blob/master/navbar/hide-pageaction-separator.css
 * Contributor(s): Madis0
 */

#pageActionSeparator{
  display: none;
}

/* ================================================================== */

/* minimal responsive theme https://github.com/moamenk/Firefox-Minimal-Responsive-Theme */

/*
Remove borders everywhere, some code copied from edge style for firefox
*/

:root {
  --tabs-border: transparent !important;
}

.tabbrowser-tab::after, .tabbrowser-tab::before {
   border-left: none !important;
}

#urlbar, .searchbar-textbox {
  border: none !important;
  box-shadow: none !important;
}

#nav-bar {
	margin-top: 0px !important;
	border-top: 0px !important;
	box-shadow: none !important;
}

/* hide separator next to hamburger menu */
#PanelUI-button {
  border-image-slice: 0 !important;
}

.tab-background {
	border-top: none !important;
}

.tabs-newtab-button, #new-tab-button, #alltabs-button {
	color: rgba(240, 240, 240, 1);
	border-top: 0px !important;
	margin-bottom: 0px !important;
}

window:not([chromehidden~="toolbar"]) #urlbar-container > .toolbarbutton-1:-moz-any([disabled], :not([open]):not([disabled]):not(:active)) > .toolbarbutton-icon[class], #main-window:not([customizing]) #back-button[disabled] > .toolbarbutton-icon[class] {

	box-shadow: none !important;
	border: 0px !important;
}
#TabsToolbar {
	margin-bottom: 0px !important;
}
#navigator-toolbox::after {
	border-bottom: 0px !important;
}
#TabsToolbar .tab-background {
	border-right: 0px !important;
	border-left: 0px !important;
}
#TabsToolbar[movingtab] {
	padding-bottom: 0px !important;
}
#TabsToolbar[movingtab] > .tabbrowser-tabs {
	padding-bottom: 0px !important;
	margin-bottom: 0px !important;
}
:root {
	--toolbarbutton-border-radius: 0px !important;
}

#tabbrowser-tabs {
	--tab-line-color: -moz-win-accentcolor !important;
	--tab-loading-fill: -moz-win-accentcolor !important;
  box-shadow: none !important;
}
#tabbrowser-tabs:-moz-window-inactive {
	--tab-line-color: rgb(128, 128, 128) !important;
}

:root[lwtheme-image]:-moz-lwtheme-brighttext {
    text-shadow: none !important;
}

/*
 * Only show close buttons on background tabs when hovering with the mouse
 *
 * Contributor(s): Timvde
 */

.tabbrowser-tab:not([selected]):not([pinned]) .tab-close-button {
  display: none !important;
}

.tabbrowser-tab:not([selected]):not([pinned]):hover .tab-close-button {
  display: -moz-box !important;
}


/* from: https://github.com/MrOtherGuy/firefox-csshacks/blob/master/chrome/dark_context_menus.css */ 

/* Makes context menus dark. Also affects some portions of menu popups */
/* Uses dark theme colors but does not respect dark theme variables (they wouldn't work on sidebar context menu) */

:root{
  --uc-menu-bkgnd: rgb(74,74,79);
  --uc-menu-color: rgb(230,230,230);
  --uc-menu-dimmed: rgba(255,255,255,0.1);
  --uc-menu-disabled: rgb(50,50,50);
}
panel richlistbox,
panel tree,
panel button,
panel menulist,
panel textbox,
panel input,
menupopup,
menu,
menuitem{ -moz-appearance: none !important; }

menulist,
menuitem,
menu{ min-height: 1.8em }

panel menulist{ border: 1px solid transparent }

panel richlistbox,
panel tree,
panel button,
panel menulist,
panel textbox,
panel input,
panel #searchbar,
menupopup:not(#BMB_bookmarksPopup),
#main-menubar > menu > menupopup,
#context-navigation{
  color: var(--uc-menu-color) !important;
  padding: 2px;
  background-color: var(--uc-menu-bkgnd) !important;
  border-color: var(--uc-menu-disabled) !important;
}

panel textbox input{ padding: 2px !important; }

panel input{ border-width: 1px; border-style: solid; background-color: rgba(0,0,0,0.1) !important; }
panel #searchbar{ background-color: rgba(0,0,0,0.1) !important; padding: 0 !important; }
panel #searchbar input{ background-color: transparent !important; }

panel menulist:hover,
panel menulist[open]{ border-color: Highlight !important; }

#editBMPanel_folderMenuList > menupopup > menuitem{ color: var(--uc-menu-color) !important; }

panel treechildren::-moz-tree-row(selected),
panel button:hover,
menu:hover,
menu[_moz-menuactive],
menu[open],
menuitem:hover,
menuitem[_moz-menuactive]{ background-color: var(--uc-menu-dimmed) !important; color: inherit !important; }

menu[disabled="true"],
menuitem[disabled="true"]{ color: var(--uc-menu-disabled) !important; }

menu:not(.subviewbutton) > .menu-right{ filter: invert(1) }
