[credential]
	helper = cache
[credential "https://github.com"]
	username = hyphenc
	helper = cache
[user]
	name = hyphenc
	email = 46054695+hyphenc@users.noreply.github.com
	signingkey = C93170521663B88D
[commit]
	gpgsign = true
[diff]
	tool = meld
[difftool]
	prompt = false
[pull]
	rebase = false
[init]
  defaultBranch = main
[alias]
  a = add
  aa = add -A
  au = add -u
  ap = add --patch
  d = diff
  dm = diff main
  dma = diff master
  dni = diff --no-index
  ds = diff --staged
  p = push
  s = status
  co = checkout
  c = commit
  subup = submodule foreach git pull
