[credential]
	helper = cache
[credential "https://github.com"]
	username = hyphenc
	helper = cache
[user]
	name = hyphenc
	email = 46054695+hyphenc@users.noreply.github.com
	signingkey = C93170521663B88D
[commit]
	gpgsign = true
[diff]
	tool = meld
[difftool]
	prompt = false
[pull]
	rebase = false
