/* For styling the rendered Markdown */
body {
  font-family: "IBM Plex Sans";
}

code, pre {
  font-family: "Fira Code";
}

.code, .inline-code {
  border: none;
  border-radius: 4px;
}

/* make ==highlight== yellow */
mark {
  background: yellow;
}

/* center note content and images */

#rendered-md {
  margin: auto !important;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
