/* For styling the rendered Markdown */
code, pre {
  font-family: "Fira Code";
}

.code, .inline-code {
  border: none;
  border-radius: 4px;
}

#rendered-md > div > pre.hljs { /* code block bg */
  background: #eee;
}

.inline-code { /* inline code bg */
  background: #eee;
}

mark { /* ==highlight== */
  background: yellow;
}
