/* For styling the entire Joplin app (except the rendered Markdown, which is defined in `userstyle.css`) */

#react-root > div > div > div.side-bar > div:nth-child(1) > div:nth-child(4) { /* hide 'tags' */
  display: none !important;
}

/* stop blinking cursor, src: https://discourse.joplinapp.org/t/share-your-css/1730/17 */
.ace_cursor-layer:not(.ace_hidden-cursors) .ace_cursor {
opacity: 1 !important;
}

/* heavier headings */
.ace_heading {
	font-weight: bold;
}

/* hide back & forward buttons in editor toolbar */
#react-root > div > div > div:nth-child(8) > div.editor-toolbar > a:nth-child(1), #react-root > div > div > div:nth-child(8) > div.editor-toolbar > a:nth-child(2) {
  display: none;
}

/* sync button */
.synchronize-button {
  border: none !important;
  padding: 13px !important;
  text-transform: uppercase;
  font-family: "IBM Plex Mono" !important;
  font-weight: bold !important;
  letter-spacing: 1px;
  opacity: 0.8 !important;
}

