# https://wiki.archlinux.org/title/Systemd-networkd
[Match]
Name=wlan0
SSID="WIFI@DB" "WIFIonICE"

[Network]
IgnoreCarrierLoss=3s
DHCP=yes
# because the dns advertised by routers is not encrypted
DNSOverTLS=no
# i dont expect hotspots to support dnssec
DNSSEC=no
# reset options set in global systemd-resolved conf
DNS=
Domains=~.

[DHCPv4]
UseDNS=yes

[DHCPv6]
UseDNS=yes
